/*  File documentation
    Author: Druzhynin Bogdan

    1.Required CSS
    2.Styling for example
*/

/*=================== 1. Required CSS ====================*/
html{
    height: 100%;
}
body{
    min-height: 100%;
    position: relative;
    padding-top:80px;/* Height of Header */ 
    padding-bottom:80px;/* Height of Footer */ 
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    position: absolute;
    top:0;
}
footer{
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}
.content{
    height:100%;
}

@media screen and (max-width:1200px){
    #block1{ width: 7px; }
}
@media screen and (max-width:992px){
    #block1{ width: 5px; }
}
@media screen and (max-width:768px){
    #block1{ width: 3px; }
}
/*=================== 2. Styling for example ====================*/
body{
    margin: 0;
}
header{
    background-color: darkseagreen;
}
footer{
    background-color: darkseagreen;
}
h1{
    font-size: 32px;
    color:darkgreen;
    line-height: 80px;
    width: 100%;
    text-align: center;
    margin: 0;
}
p{
    font-size: 42px;
    margin: 40px 0;
}
@media screen and (max-width:1200px){
    #block2{ width: 7px; }
}
@media screen and (max-width:992px){
    #block2{ width: 5px; }
}
@media screen and (max-width:768px){
    #block2{ width: 3px; }
}
